---
layout: default
---


<!-- Main -->
<div id="main">
    <section></section>
    <section id="about">
        <header class="major">
             <h2>San Francisco based Software Developer with over<br/> 5 years of experience building Mobile Applications.</h2>
        </header>
        <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque cubilia.</p>

 <!--         <header class="major">
             <h2>Ipsum lorem dolor aliquam ante commodo<br />magna sed accumsan arcu neque.</h2>
        </header>
        <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque cubilia.</p>
        <ul class="actions">
            <li><a href="#" class="button">Learn More</a></li>
        </ul> -->
    </section>

    <section>
        <section id="contact">
        <header class="major">
            <h2>Get In Touch</h2>
        </header>
            <p>Got something exciting that you'd like to work on?<br />Drop me a quick email and let's talk!</p>
    </section>

<!--     <section>
        {% for post in site.posts limit:1 %}
            <header class="major">
                <h2>{{ post.title }}</h2>
                <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            </header>

            <section>
                {{ post.content }}
            </section>
        {% endfor %}
    </section>
    <section>
        <div class="row">
            {% for post in site.posts offset:1 %}

                <article class="{% cycle '6u', '6u$' %} 12u(small)">
                    <header>
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    </header>
                    <section>
                        {{ post.excerpt }}
                    </section>
                    <footer>
                        <ul class="actions">
                            <li><a href="{{ post.url }}" class="button">Read More</a></li>
                        </ul>
                    </footer>
                </article>

            {% endfor %}
        </div>
    </section> -->
</div>
